@import 'theme.css';

.mrui {
  &-icon {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    fill: inherit;

    @media (--tablet-viewport) {
      margin: 5px;
    }

    & svg {
      height: 24px;
      width: 24px;
      margin: auto;
      display: block;
      fill: inherit;
    }
  }
}
