/* Text color variants */

@define-mixin base-color $style {
  $(style): color(var(--black) tint(35%));
}

@define-mixin dark-color $style {
  $(style): color(var(--black) tint(11%));
}

@define-mixin light-color $style {
  $(style): color(var(--black) tint(60%));
}

/* Font variants */
@define-mixin font-regular {
  font-family: var(--font-family);
  font-weight: 500;
}

@define-mixin font-bold {
  font-family: var(--font-family);
  font-weight: 700;
}

@define-mixin font-semibold {
  font-family: var(--font-family);
  font-weight: 600;
}

/* main container styles */
@define-mixin main-container {
  width: 100%;
  box-sizing: border-box;

  @media (--mobile-portrait-viewport) {
    padding: 0 15px;
    width: 540px;
    max-width: 100%;
    margin: 0 auto;
  }

  @media (--tablet-viewport) {
    width: 720px;
  }

  @media (--desktop-viewport) {
    width: 960px;
  }

  @media (--wide-desktop-viewport) {
    width: 1140px;
  }
}

/* Helpers and includes */
.vertical-align-middle {
  transform: translateY(-50%);
  top: 50%;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
