@import 'theme.css';

body {
  margin: 0;
  position: relative;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

b,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

/* Typography styles */

.mrui {
  width: 100%;

  @mixin main-container;

  h1 {
    font-size: var(--font-size-h1-mobile);
    line-height: 1.375;
    margin: 0 0 calc(var(--base-margin) * 2);

    @mixin dark-color color;

    @media (--tablet-viewport) {
      font-size: var(--font-size-h1);
    }
  }

  h2 {
    font-size: var(--font-size-h2-mobile);
    color: var(--font-highlighted-color);
    line-height: 1.3333;
    margin: 0 0 calc(var(--base-margin) + 8px);

    @media (--tablet-viewport) {
      font-size: var(--font-size-h2);
    }
  }

  h3 {
    font-size: var(--font-size-h3-mobile);
    line-height: 1.3333;
    margin: 0 0 var(--base-margin);

    @mixin base-color color;

    @media (--tablet-viewport) {
      font-size: var(--font-size-h3);
    }
  }

  h4 {
    font-size: var(--font-size-h4-mobile);
    line-height: 1.3333;
    margin: 0 0 var(--base-margin);

    @mixin dark-color color;

    @media (--tablet-viewport) {
      font-size: var(--font-size-h4);
    }
  }

  h5 {
    font-size: var(--font-size-h5-mobile);
    color: var(--font-highlighted-color);
    line-height: 1.3333;
    margin: 0 0 var(--base-margin);

    @media (--tablet-viewport) {
      font-size: var(--font-size-h5);
    }
  }

  p {
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
    margin: 0 0 var(--base-margin);

    @mixin base-color color;
  }

  .text {
    &--small {
      font-size: var(--font-size-sm);
      line-height: 1.83;
    }

    &--mark {
      font-size: var(--font-size-sm);
      line-height: 1.83;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      @mixin light-color color;
    }

    &--inline {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }

    &--no-margin {
      margin: 0;
    }
  }

  ul {
    margin: 0 0 var(--base-margin);
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);

    @inherit .ul-reset;

    li {
      padding: 4px 0 4px 25px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 14px;
        height: 4px;
        width: 4px;
        background: var(--bg-dark);
        border-radius: 50%;
      }
    }
  }

  ol {
    margin: 0 0 var(--base-margin);
    counter-reset: myCounter;
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);

    @inherit .ul-reset;

    li {
      padding: 4px 0;

      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) '.';
        position: static;
        background: none;
        width: auto;
        height: auto;
        min-width: 25px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  ol,
  ul,
  p,
  h1,
  h3 {
    @mixin font-regular;
  }

  .text--mark,
  h2 {
    @mixin font-bold;
  }

  h4,
  h5 {
    @mixin font-semibold;
  }

  .mobile-only {
    display: block;

    @media (--tablet-viewport) {
      display: none;
    }
  }

  .tablet-only {
    display: none;

    @media (--tablet-viewport) {
      display: block;
    }

    @media (--desktop-viewport) {
      display: none;
    }
  }

  .desktop-only {
    display: none;

    @media (--desktop-viewport) {
      display: block;
    }
  }

  .wide-desktop-only {
    display: none;

    @media (--wide-desktop-viewport) {
      display: block;
    }
  }
}
